.back{
    background-image: url(https://i.imgur.com/u14l7VA.gif)!important;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.titulo{
    color: white !important;
    font-weight: bold !important;
}

.button{
    border-color: white !important;
    background-color: #3F51B5 !important;
    color: white !important;
}

.postagens{
    background: gray !important;
}