.text-decorator-none{
    text-decoration: none;
    color: white;
}

.bar{
    display: flex;
    justify-content: space-between;
}

.links h6{
    padding-right: 16px!important;
    cursor: pointer;
    color: white;
}